* {
    margin: 0;
    padding: 0;
}

/*——————————————————————————————————————————————————————————————————————————*/

html, 
body {
    width: 100%;
    height: 100%;

    font-family: Arial, sans-serif;
    font-size: 20px;
}

div {
    max-width: 1024px;
    height: 100%;

    margin: 0 auto;

    background-color: #AAAAAA;
}

header, 
nav, 
section {
    width: 100%;
}

/*——————————————————————————————————————————————————————————————————————————*/

nav {
    background-color: #666699;
}

    ul {
        list-style-type: none;
    }

        a, a:visited {
            text-decoration: none;
            color: blue;
        }

        a:hover {
            text-decoration: underline;
        }

/*——————————————————————————————————————————————————————————————————————————*/

section {
    height: 400px;
}

/*——————————————————————————————————————————————————————————————————————————*/

img {
    float: left;
    margin-right: 20px;
}

/*——————————————————————————————————————————————————————————————————————————*/

h1 {
    padding: 40px 0 40px 0;
    
    font-size: 40px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    padding-right: 20px;
    
    font-size: 30px;
    text-align: justify;
}